admin.php
config.local.php
copyright.txt
init.php
store_closed.html
api.php
changelog.txt
config.php
index.php
install.html
robots.txt
upgrades/*
upgrades/
./upgrades/*
./upgrades
.htaccess
./var/*
var/
./var
var
vendor.php
